.about {
    background-color: #BCCBC9;
    color: #BCCBC9;
    text-align: center;
    font-size: .9rem;
    font-weight: 900;
    flex-grow: 1;
    height: 100%;
    font-family: Montserrat
}

.responsive {
    width: auto;
    height: auto;

}


.about-main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-top: 86px;
    background-color: #2B2724;
    /* background-image: linear-gradient(90deg, #2B2724 30%,  #79706A); */
}

.about-left {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #2B2724 0%, #2B2724 60%, #766E65 100%);
}

.about-left img {
    border: 5px solid #79706A;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.about-right {
    flex: 1;
    max-width: 50%;
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 40px;
    align-items: center;
    line-height: 1.6;
    font-size: 0.9rem;
}

span.about-right {
    background-image: linear-gradient(90deg, #766E65 0%, #766E65 10%, #2B2822 100%) !important;
    padding: 20px;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.1rem;
    line-height: 1.7;
}

@media screen and (max-width: 768px) {
    .about-main {
        padding-top: 70px;
    }
}

@media screen and (max-width: 480px) {
    .about-main {
        padding-top: 65px;
    }
}

@media screen and (max-width: 1024px) { 
    .about-main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .about-left {
        max-width: 100%;
        min-height: auto;
        padding: 20px;
        justify-content: center;
        background: linear-gradient(180deg, #2B2724 0%, #2B2724 80%, #766E65 100%);
    }

    .about-left > img {
        max-width: 300px;
        width: 100%;
        height: auto;
        background-position: center;
        background-size: contain;
        /* border: 5px solid #838587; */
        padding: 20px;
    }

    .about-right {
        max-width: 100%;
        padding: 25px 20px;
        text-align: left;
        font-size: 0.85rem;
        line-height: 1.5;
    }
    
    span.about-right {
        background-image: linear-gradient(180deg, #766E65 0%, #766E65 20%, #2B2822 100%) !important;
        align-items: flex-start;
        padding-top: 40px;
        font-size: 1rem;
        min-height: auto;
        border-radius: 0;
    }
}

/* Large screens - scale up text */
@media screen and (min-width: 1400px) {
    .about-right {
        padding: 80px 100px;
        font-size: 1.4rem;
        line-height: 1.9;
        max-width: 800px;
        margin: auto;
    }
    
    span.about-right {
        font-size: 1.6rem;
        line-height: 2.1;
        padding: 60px 80px;
    }
}

/* Extra large screens - ultrawide monitors */
@media screen and (min-width: 1800px) {
    .about-right {
        padding: 120px 150px;
        font-size: 1.7rem;
        line-height: 2.2;
        max-width: 1000px;
    }
    
    span.about-right {
        font-size: 1.9rem;
        line-height: 2.4;
        padding: 80px 120px;
    }
}

/* Medium screens - better text sizing */
@media screen and (max-width: 1200px) and (min-width: 769px) {
    .about-right {
        padding: 35px 25px;
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 768px) {
    .about-left {
        min-width: 50%;
        padding: 20px;
        justify-content: center;
    }

    .about-left > img {
        padding: 20px;
        min-height: 100%
    }
}

