@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/static/PlayfairDisplay-Italic.ttf');
}

.clients-body {
    background-image: url('../images/WhiteMarble2.png');
    text-align: center;
}

.client-pic {
    width: 45%;
    margin: 7.5px 7.5px 7.5px 7.5px;
    border:#545B5A solid 3px;
    background-color: #545B5A;
    
}

.clients-title {
    font-family: SLRScript;
    min-width: 100vw;
    font-weight: 300;
    color: #545B5A;
    padding-top: 8px;
}

@media screen and (max-width: 767px) { 
    .client-pic {
        width: 45%;
        height: 11rem;
    }
}
