@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/OFL.txt');
}

.field-label {
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    justify-content:center;
}

.contact-title {
    color:black;
}

.contact-body {
    background-color: #BCCBC9;
    min-height: 100vh;
    padding-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* padding: 20px 20px 20px 20px; */
    /* border-radius: 10px; */
    /* border: 5px solid #838587; */
    margin: 0 auto;
    /* background-image: url('../images/WhiteMarble2.png'); */
    background-color: #e9ece6;
    background-position: center;
    background-size: cover;
}

.form-check {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    padding: 1.5px 7.5px 1.5px 7.5px;
    /* text-align: center; */
    flex-direction: row;
}
.form-check-black {
    color: black;
    padding-left: 2px;
}

.contact-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contact-image img {
    margin-bottom: 5px;
}

.contact-names {
    justify-content:center;
    display: flex;
}

.contact-form-inputs{
    border-top: 5px solid #545B5A;
}
.contact-details {
    display: flex;
    justify-content:center;
}

.contact-dropdown {
    display: flex;
    height: 20px;
    justify-content:center;
}
label {
    color: black;
    font-size: 0.9rem;
    font-weight: 700;

}

select {
    max-width: 10.5rem;
}

#outfit-selector {
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (max-width: 992px) { 
    .contact-names {
        display: flex;
        flex-direction: column;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
    }

    .contact-dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        padding: 0px 0px 20px 0px;
        min-width: 100%;
    }
    
    .selector{
        margin: 5px 0px 5px 0px;
    }
    
    .contact-body {
        min-height: 100vh;
    }
}

#fnameinput{
    min-width:15rem;
}

#lnameinput {
    min-width:15rem;
}
#phoneinput{
    min-width:15rem;
} 
#emailinput {
    min-width:15rem;
}

.contact-button {
    background-color: #BCCBC9;
    color: #545B5A;
    font-weight: 900;
    border: 2px solid black;
}

.modal {
    color:#545B5A;
}

.contact-img {
    min-width: 100%;
}

.contact-img-text {
    color: black;
    font-size: 2.55rem;
    font-weight: 500;
    position:absolute;
    top: 16.5%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-family: SLRScript;
}

@media screen and (max-width: 768px) { 
    .contact-img-text {
        color: black;
        font-weight: 500;
        font-size: 1rem;
        position: absolute;
        top: 14%;
        left: 27%;
        transform: translate(-40%, -50%);
        font-family: SLRScript;
    }
}
