.gallery {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    color: #fff;
}

.gallery__img {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px 30px 30px;
    max-width: 100%;
    height: auto;
}


.gallery__img > img {
    border: 5px solid #B4B4B4;
    padding: 80px;
    border-radius: 10px;
    
}

.alternate {
    text-align: right;
}

.img-caption {
    margin: 10px;
    padding: 5px;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    align-self: center 
}