@import './colors.css';

.navbar {
    display: flex;
    color: var(--primary-color);
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    min-width: 100%;
    /* min-height: 5rem; */
    border-top: 4px solid var(--accent-color);
    padding: 0px;
}

@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/static/PlayfairDisplay-Italic.ttf');
}

.footerlink {
    text-decoration: none;
    color: var(--primary-color);
    font-weight:500;
    font-size: 16px;
    font-family: Montserrat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    

}

.footerlink:hover {
    color: var(--accent-color);
}

.footerlink:active {
    color: #838587;
}

.footerlinks {
    display: flex;
    justify-content:space-evenly;
}

.footer-text {
    font-family: Montserrat;
    font-weight: 100;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-contact {
    font-weight: 900;
    font-size: 0.9rem;
    font-family: Montserrat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) { 
    .footerlink {
        font-size: 0.55rem;
    }
}

.footer-info {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    height:50px;
    width: 50px;
}

.tiktokicon {
    text-decoration: none;
    color: var(--primary-color);
    height:25px;
    width: 25px;
    fill: var(--primary-color);
}


.footer-info:hover {
    color: var(--accent-color);
}

.footer-info:active {
    color: #838587;
}

.tiktokicon:hover {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.tiktokicon:active {
    color: #838587;
    fill:#838587;
}


