.navbar {
    display: flex;
    color: black;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0%;
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    position: static;
    bottom: 0%;
    min-width: 100vw;
    min-height: 15rem;
}

@font-face {
    font-family: SLRScript;
    src: url('./Source_Sans_Pro/OFL.txt');
}

.footerlink {
    text-decoration: none;
    color: black;
    font-weight:900;
    font-size: 16px;
    font-family: SLRScript;
}

.footerlink:hover {
    color: #b59b29;
}

.footerlinks {
    justify-content: space-around;
}

.footer__text {
    font-family: SLRScript;
}



