.navbar {
    display: flex;
    color: #545B5A;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0%;
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    position: bottom;
    bottom: 0%;
    min-width: 100vw;
    min-height: 5rem;
    border-top: 4px solid #838587;
}

@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/OFL.txt');
}
.footerlink {
    text-decoration: none;
    color: #545B5A;
    font-weight:500;
    font-size: 16px;
    
}

.footerlink:hover {
    color: #838587;
}

.footerlinks {
    justify-content:space-evenly;
    display: flex;
}

.footer__text {
    font-family: SLRScript;
    font-weight: 100;
}



