.Gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aaa8a8;
    min-height: 100vh;
}

.Carousel {
    min-width:75vw;
    max-width:75vw;
}

.carousel-control {
    color: #bada55;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #aaa8a8;
    border-radius: 50%;
}

.carousel-indicators {
    background-color: #aaa8a8;
    border-radius: 20px;
}

.carousel-indicators [data-bs-target] {
    background-color:black;

}

.carousel-control-prev-icon {
    background-image: url('../images/left-chevron.png');
}

.carousel-control-next-icon {
    background-image: url('../images/right-chevron.png');
}
