.header {
    min-width: 100vw;
    border-bottom: 5px solid #B4B4B4;
    height: 100px;
    padding: 0px 20px 0px 0px;
}

.header__links{
    flex-grow: 1;
    justify-content: space-around;
}

.header__link{
    text-decoration: none;
    color: black;
    
    font-size: 14pt;
    text-align: center;
}

.header__link:hover {
    color: #B4B4B4;
}