.header {
    display: flex;
    min-width: 100vw;
    text-align: center;
    border-bottom: 4px solid #b59b298b;
    height: 106px;
    justify-content: space-between;
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    scrollbar-color: rebeccapurple green;
    
    
}

.spacerdiv {
    margin: 0px 50px 0px 50px;
}

.logo {
    margin: 5px 0px 0px 0px;
    height: auto;
    max-height: 96px;
    
}
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 11px;
}
    
body::-webkit-scrollbar-track {
    background: black;
}
    
body::-webkit-scrollbar-thumb {
    background-color: #b59b29;
    border-radius: 20px;
    border: 3px solid black;
}