.dialog {
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    border: 4px solid #9c8c71;
    padding: 10px 10px 10px 10px;
    min-width:50%;
    z-index: 1;
    border-radius: 10px;
}

.landing-img{
    /* padding and border radius for front page */
    border: 3px solid #9c8c71;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.landing-img:hover {
    opacity: 0.90;
    transform: scale(1.02);
}

.landing-img-no-opacity {
    border: 3px solid #9c8c71;
    padding: 3px;
    border-radius: 10px;
    opacity: 0.3;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    
}

.responsive {
    width: 100%;
    height: auto;
}

.pic-div:hover {
    opacity: 0.90;
}

.dialog-message {
    text-align: end;
    margin: -15px -8px -5px -5px;
    
}

.dialog-icon {
    min-width: 40px;
    min-height: 40px;
}

.client-image-component {
    border-radius: 10px;
    transition: none !important;
}

.client-image-component:hover {
    transform: none !important;
    box-shadow: none !important;
}

/* React 18 View Transition Classes */
::view-transition-old(.gallery-zoom) {
    animation-duration: 300ms;
    animation-timing-function: ease-out;
}

::view-transition-new(.gallery-zoom) {
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}

::view-transition-group(.gallery-zoom) {
    animation-duration: 300ms;
}

/* Smooth image transitions */
.img-fluid {
    transition: all 0.2s ease;
}

.img-fluid:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


/* @media screen and (max-width: 540px) { 
    .dialog-message {
        text-align: center;
        margin: -15px -8px -5px -5px;
    }
} */


