.landingpane {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* border-radius: 10px; */
    height: fit-content;
    
}

.dressdisplay {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.landing__img {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 10px 10px;
    max-width: 100%;
    height: max-content; /* [1.1] Set it as per your need */
    width:max-content;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

.landing__img img {
    transition: transform .5s ease;
    padding: 5px;
    background-color: #dcc8c8;
    border-radius: 10px;
}

.landing__img:hover img {
    transform: scale(1.1);
}
