@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/static/PlayfairDisplay-Italic.ttf');
}

.landingpane {
    display: flex;
    flex-direction: column;
    background-image: url('../images/WhiteMarble2.png');
    background-size:contain;
    border-top: 4px solid black;
    height: fit-content;
    font-family: SLRScript;
    font-size: 2rem;
    min-width: 100vw;
    font-weight: 500;
    
}

.videoTag {
    margin: 0px 0px 20px 0px;
    background-color: black;
    border-bottom: 4px solid black;
    filter: drop-shadow(0 0 .5rem #838587);
    min-width: 100%;
}


.dressdisplay {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    padding: 0px 25px 0px 25px;
}
.dressdisplay-last {
    margin: 20px 0px 0px 0px;
    display: flex;
    padding: 0px 25px 0px 25px;
}

.landing__img {
    display: flex;
    justify-content: space-around;
    margin: 0px 7.5px 0px 7.5px;
    height: 100%; 
    width:max-content;
    overflow: hidden; 
    background-color:rgba(155, 155, 155, 1);
    filter: drop-shadow(0 0 0.55rem #838587);
    /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
}

.landing__img img {
    transition: transform 1.5s ease;
    
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    
}

.landing__img:hover img {
    transform: scale(1.2);
    
}


.vidpic-div {
    display: flex;
    margin: 7.5px 0px 7.5px 0px;
}

.large-img {
    
    border: 4px solid black;
    /* padding: 0px 45px 0px 45px; */
    margin: 20px 25px 20px 25px;
    filter: drop-shadow(0 0 0.55rem #838587);
}

@media screen and (max-width: 768px) { 
    .landingpane {
        font-size: 1rem;
    }
}

