@font-face {
    font-family: SLRScript;
    src: url('../componentcss/Playfair_Display/OFL.txt');
}

.LaunchBtn {
    color: black;
    outline: none;
    border-color: #fff;
    min-width: 40px;
    min-height: 40px;
    margin: 23px 25px 23px 25px;
    align-content: space-around;
}

.LaunchBtn:hover {
    color: black;
    outline: none;
    border-color: #838587;
    border-width: 5px;
}

.LaunchBtn:active {
    color: #838587;
}

.LaunchBtn:after {
    color: black;
}

.OffCanvasChannels {
    display: flex;
    align-content: space-around;
}

.Channel {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.Channel:hover {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}


.Channelname {
    padding: 3px 0px 3px 0px;
    
}

.Channelname:hover {
    opacity: 0.7;
    background-color:#838587;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.closeBtn:focus {
    color:#838587;
}

.btn-close {
    opacity: .8;
    color: black;
}

.btn-close:active {
    background-color: #838587;
    outline: 3px solid black !important;
}


.offcanvas-header {
    background-image: url('../images/WhiteMarble2.png');
    background-size: cover;
    border-bottom: 4px solid #838587;
    height: 5rem;
}
